
body {
   margin: 0px;
}
.flex-container {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  margin: 0px 36px;
  border-bottom: 1px solid black;
  z-index:1;
  display:flex;
  justify-content:space-between;
  align-items: center;
  }

.logo {
  display:flex;
  align-items: center;
}

.logo span {
  color: MediumAquamarine;
}

.nav span {
  display: inline-block;
  margin: 0px 10px;
}

.nav a {
  color:black;
}

.logo img {
  margin-right:12px;
}
